{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" >
        <h2 class="text-center"><strong>Is Islam Relegion of peace ???</strong></h2><br>
        <p class="text-center" style="font-size: 26">To Know About Islam</p><br>
        <p class="text-center" style="font-size: 40; font-weight: 600">About</p>
    </div>
    </div>
{% load static from staticfiles %}

            <div class="col-md-4">
                  <a href=""><img src="{% static 'img/home1.jpg' %}" alt="Home" class="img-responsive"></a>
           </div>
		   <div class="col-md-4">
                  <a href=""><img src="{% static 'img/home.jpeg' %}" alt="Home" class="img-responsive"></a>
           </div>
		   <div class="col-md-4">
                  <a href=""><img src="{% static 'img/home1.jpg' %}" alt="Home" class="img-responsive"></a>
           </div>
         
 

 <link rel="stylesheet" href="{% static 'assets/css' %}"
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
	
        <p>In 610 CE, Muhammad began receiving what Muslims consider to be divine revelations.
		[5] Muhammad's message won over a handful of followers and was met with increasing opposition from notables of Mecca.
		[6] In 618, after he lost protection with the death of his influential uncle Abu Talib, 
		Muhammad migrated to the city of Yathrib (now known as Medina)
		With Muhammad's death in 632,
		disagreement broke out over who would succeed him as leader of the Muslim community which was eventually resurrected leading to the First Fitna. 
		The dispute would intensify greatly after the Battle of Karbala,
		in which Muhammad's grandson Hussein ibn Ali was killed by the ruling Umayyad Caliph Yazid I,
		and the outcry for revenge divided the early Islamic community.

        By the 8th century, the Islamic empire extended from Iberia in the west to the Indus river in the east. 
        Polities such as those ruled by the Umayyads (in the Middle East and later in Iberia), Abbasids, Fatimids,
        and Mamluks were among the most influential powers in the world. 
        The Islamic civilization gave rise to many centers of culture and science and produced notable astronomers,
        mathematicians, doctors and philosophers during the Golden Age of Islam.
        </p>
    </div>
	
    </div>
    <div class="row">
	
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="text-center page-header">My Skills</h2>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
        <div class="col-md-4">
          <h2 class="text-center">Laravel Framework</h2>
          <p class="text-center"> <i class="fa fa-line-chart fa-5x" aria-hidden="true" style="color: #F05F40"></i></p>
          <p class="text-center"><a class="btn btn-default" href="https://laravel.com/docs/5.4/installation" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2 class="text-center">Django Framework</h2>
           <p class="text-center"><i class="fa fa-diamond fa-5x" aria-hidden="true" style="color: #F05F40"></i></p>
          <p class="text-center"><a class="btn btn-default" href="https://docs.djangoproject.com/en/1.11/" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2 class="text-center">Version Control</h2>
           <p class="text-center"><i class="fa fa-coffee fa-5x" aria-hidden="true" style="color: #F05F40"></i></p>
          <p class="text-center"><a class="btn btn-default" href="https://bitbucket.org/" role="button">View details &raquo;</a></p>
        </div>
    </div>
    </div>
{% endblock %}